env
*.log
.env
*.pem
*.cer
config.py
charts.json
.vscode
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#VS Code
/.vscode

*/.DS_Store

# Google API secrets file credentials.json and refresh token
google_auth/credentials/credentials.json
google_auth/credentials/token.json

*.mp3
*.mp4
*.mamd
*.aif
*.jpg
*.jpeg

**/credentials/*